{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <!-- <div class="dark-mask"></div> -->
        <!-- Class früher nur Container. Jetzt möchte ich gerne als "Background-image" "statt url('...')" "{ .image }" einfügen. Klappt aber leider nicht. Geht das denn?-->
        <div class="container-fluid bg-image" style="background-image: url('https://bistumlimburg.de/fileadmin/_processed_/d/3/csm_Bibel_-_Aaron_Burden_8f10127833.jpg'); background-size: cover; background-position: center;">
            <div class="homepage owl-carousel"
                data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                       <!-- <div class="row"> -->
                        <!-- Class früher col-sm-5 right. jetzt Background-color verändert-->
                            <div class="container" style="background-color: #000000d1;">
                                <div class="text-center">
                                <h1>{{ .title | safeHTML }}</h1>
                                {{ .description | safeHTML }}
                            </div>
                            </div>
                            <!--
                            <div class="col-sm-7">
                                <img class="img-responsive" src="{{ .image }}" alt="">
                            </div>
                            -->
                        <!-- </div> -->
                    {{ if .href }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
