<ul>
<li>  Als missionarische Gemeinde laden wir dazu ein. dass Menschen Jesu Liebe erfahren und mit Gott versöhnt werden. </li>
<li> Die Nächstenliebe zu den( Kranken. Behinderten, Einsamen. Alten. Armen. Andersartigen …) ist ureigenster Ausdruck der Lebensgemeinschaft mit Jesus, die sich auch in den Beziehungen untereinander widerspiegelt. </li>
<li> Wir wollen dem Vorbild von Jesus folgen und in allen Lebensbereichen die Nachfolge Jesu konkret leben. </li>
<li> Wir wollen in Allem die Kraft des Heiligen Geistes in Anspruch nehmen. </li>
</ul>